# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Hytale Downloader Artifacts
hytale-downloader-linux-amd64
hytale-downloader-windows-amd64.exe
QUICKSTART.md

# Logs
*.log
hytale_updater.log

# Hytale
hytale-downloader.zip
Assets.zip
HytaleServer.jar
HytaleServer.aot
# Keep the script and version file, ignore the server binaries/assets that are downloaded
# unless the user wants them? usually server artifacts are ignored.
# But checking the previous user intent, they just wanted the script in the repo.
# So we ignore downloaded binaries.

# OS
.DS_Store
Thumbs.db
